.body-plot {
  background-color: var(--lynch);
  background-image: url('https://source.unsplash.com/random/600x600');
  background-size: cover;
  background-position: center;
  filter: grayscale(50%);
}

.plot-text {
  margin: 100px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plot-text h1 {
  font-weight: 500;
}

.plot-text h5 {
  padding-top: 15px;
  font-weight: lighter;
  font-size: 1em;
  letter-spacing: 2px;
}