.plot-text {
  margin: 100px;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plot-text h1 {
  font-weight: 500;
}

.plot-text h5 {
  padding-top: 15px;
  font-weight: lighter;
  font-size: 1em;
  letter-spacing: 2px;
}